workflows/autoapplyops-intake.json
{
  "name": "AutoApplyOps - Internship Application Triage",
  "nodes": [
    {
      "parameters": {
        "content": "AutoApplyOps accepts a sanitized internship application payload, validates required fields, applies configurable scoring weights, detects duplicate IDs, routes priority, and returns a follow-up draft with automation hints.",
        "height": 220,
        "width": 340,
        "color": 4
      },
      "id": "f5c71f76-7bb9-4867-8d4c-08a3dc2ad1e9",
      "name": "Workflow Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1120,
        -260
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "autoapplyops/intake",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "6a7c8ad2-40e8-43cb-8c02-8ecb9a3180bb",
      "name": "Webhook Intake",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -900,
        80
      ],
      "webhookId": "autoapplyops-intake"
    },
    {
      "parameters": {
        "jsCode": "const DEFAULT_TARGET_SKILLS = [\n  \"javascript\",\n  \"typescript\",\n  \"node\",\n  \"api\",\n  \"apis\",\n  \"automation\",\n  \"n8n\",\n  \"postgresql\",\n  \"python\",\n  \"sql\",\n  \"webhook\",\n  \"react\"\n];\n\nconst REQUIRED_FIELDS = [\"applicationId\", \"company\", \"role\", \"source\"];\nconst EMAIL_RE = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\nconst DEFAULT_WEIGHTS = {\n  deadline: 25,\n  skills: 30,\n  role: 20,\n  location: 10,\n  completeness: 10,\n  source: 5\n};\n\nfunction evaluateApplication(payload, options = {}) {\n  const now = options.now ? new Date(options.now) : new Date();\n  const targetSkills = normalizeSkillList(options.targetSkills || DEFAULT_TARGET_SKILLS);\n  const weights = normalizeWeights(options.weights);\n  const knownApplicationIds = new Set(options.knownApplicationIds || []);\n  const requireSharedSecret = Boolean(options.requireSharedSecret);\n  const expectedSharedSecret = clean(options.expectedSharedSecret);\n  const normalized = normalizePayload(payload);\n  const validation = validatePayload(normalized, {\n    requireSharedSecret,\n    expectedSharedSecret\n  });\n\n  if (!validation.valid) {\n    return buildResult({\n      normalized,\n      validation,\n      score: 0,\n      priority: \"invalid\",\n      route: \"Needs Manual Repair\",\n      reasonCodes: validation.errors.map((error) => error.code || `missing_or_invalid_${error.field}`),\n      followUpDraft: \"Payload needs required fields before a follow-up can be drafted.\",\n      now,\n      weights\n    });\n  }\n\n  const deadlineSignal = scoreDeadline(normalized.deadline, now, weights.deadline);\n  const skillSignal = scoreSkills(normalized.skills, targetSkills, weights.skills);\n  const roleSignal = scoreRole(normalized.role, weights.role);\n  const locationSignal = scoreLocation(normalized.location, weights.location);\n  const completenessSignal = scoreCompleteness(normalized, weights.completeness);\n  const sourceSignal = scoreSource(normalized.source, weights.source);\n  const duplicateSignal = scoreDuplicate(normalized, knownApplicationIds);\n\n  const score = clamp(\n    deadlineSignal.points +\n      skillSignal.points +\n      roleSignal.points +\n      locationSignal.points +\n      completenessSignal.points +\n      sourceSignal.points +\n      duplicateSignal.points,\n    0,\n    100\n  );\n\n  const priority = duplicateSignal.duplicate ? \"duplicate\" : score >= 80 ? \"hot\" : score >= 55 ? \"review\" : \"low\";\n  const route =\n    priority === \"duplicate\"\n      ? \"Duplicate Review\"\n      : priority === \"hot\"\n      ? \"High Priority Follow-up\"\n      : priority === \"review\"\n        ? \"Review Queue\"\n        : \"Archive with Weekly Digest\";\n\n  const reasonCodes = [\n    deadlineSignal.reason,\n    skillSignal.reason,\n    roleSignal.reason,\n    locationSignal.reason,\n    completenessSignal.reason,\n    sourceSignal.reason,\n    duplicateSignal.reason\n  ].filter(Boolean);\n\n  return buildResult({\n    normalized,\n    validation,\n    score,\n    priority,\n    route,\n    reasonCodes,\n    followUpDraft: draftFollowUp(normalized, priority, skillSignal.matches),\n    now,\n    skillMatches: skillSignal.matches,\n    deadlineDays: deadlineSignal.daysUntilDeadline,\n    targetSkills,\n    weights,\n    signals: {\n      deadline: deadlineSignal,\n      skills: skillSignal,\n      role: roleSignal,\n      location: locationSignal,\n      completeness: completenessSignal,\n      source: sourceSignal,\n      duplicate: duplicateSignal\n    }\n  });\n}\n\nfunction normalizePayload(payload = {}) {\n  const body = payload.body && typeof payload.body === \"object\" ? payload.body : payload;\n  const skills = Array.isArray(body.skills)\n    ? body.skills\n    : typeof body.skills === \"string\"\n      ? body.skills.split(\",\")\n      : [];\n\n  return {\n    applicationId: clean(body.applicationId || body.id || body.leadId),\n    applicantName: clean(body.applicantName || body.name || \"Demo Applicant\"),\n    email: clean(body.email),\n    company: clean(body.company),\n    role: clean(body.role || body.title),\n    source: clean(body.source || \"manual-entry\"),\n    sharedSecret: clean(body.sharedSecret || body.secret || body.webhookSecret),\n    deadline: clean(body.deadline || body.applyBy),\n    location: clean(body.location || \"Unknown\"),\n    skills: normalizeSkillList(skills),\n    notes: clean(body.notes || body.resume_text || body.summary),\n    receivedAt: clean(body.receivedAt || body.received_at) || new Date().toISOString()\n  };\n}\n\nfunction sanitizeForLog(normalized) {\n  return {\n    applicationId: normalized.applicationId,\n    applicant: normalized.applicantName ? initials(normalized.applicantName) : \"unknown\",\n    emailDomain: normalized.email && EMAIL_RE.test(normalized.email) ? normalized.email.split(\"@\")[1] : null,\n    company: normalized.company,\n    role: normalized.role,\n    source: normalized.source,\n    deadline: normalized.deadline || null,\n    location: normalized.location,\n    skills: normalized.skills,\n    notesLength: normalized.notes ? normalized.notes.length : 0,\n    receivedAt: normalized.receivedAt\n  };\n}\n\nfunction validatePayload(normalized, options = {}) {\n  const errors = [];\n\n  for (const field of REQUIRED_FIELDS) {\n    if (!normalized[field]) {\n      errors.push({ field, message: `${field} is required` });\n    }\n  }\n\n  if (normalized.email && !EMAIL_RE.test(normalized.email)) {\n    errors.push({ field: \"email\", message: \"email must be valid when provided\" });\n  }\n\n  if (normalized.deadline && Number.isNaN(Date.parse(normalized.deadline))) {\n    errors.push({ field: \"deadline\", message: \"deadline must be a valid date when provided\" });\n  }\n\n  if (options.requireSharedSecret && normalized.sharedSecret !== options.expectedSharedSecret) {\n    errors.push({\n      field: \"sharedSecret\",\n      message: \"sharedSecret did not match the expected webhook secret\",\n      code: \"invalid_shared_secret\"\n    });\n  }\n\n  return { valid: errors.length === 0, errors };\n}\n\nfunction scoreDeadline(deadline, now, maxPoints) {\n  if (!deadline) {\n    return { points: Math.round(maxPoints * 0.32), maxPoints, reason: \"deadline_missing_review\", daysUntilDeadline: null };\n  }\n\n  const days = Math.ceil((new Date(deadline) - now) / 86_400_000);\n\n  if (days < 0) {\n    return { points: 0, maxPoints, reason: \"deadline_expired\", daysUntilDeadline: days };\n  }\n\n  if (days <= 7) {\n    return { points: maxPoints, maxPoints, reason: \"deadline_urgent\", daysUntilDeadline: days };\n  }\n\n  if (days <= 21) {\n    return { points: Math.round(maxPoints * 0.72), maxPoints, reason: \"deadline_soon\", daysUntilDeadline: days };\n  }\n\n  return { points: Math.round(maxPoints * 0.48), maxPoints, reason: \"deadline_open\", daysUntilDeadline: days };\n}\n\nfunction scoreSkills(skills, targetSkills, maxPoints) {\n  const matches = skills.filter((skill) => targetSkills.includes(skill));\n  const ratio = targetSkills.length ? matches.length / Math.min(targetSkills.length, 6) : 0;\n  const points = clamp(Math.round(ratio * maxPoints), 0, maxPoints);\n\n  return {\n    points,\n    maxPoints,\n    matches,\n    reason: matches.length ? `skill_match_${matches.length}` : \"skill_match_none\"\n  };\n}\n\nfunction scoreRole(role, maxPoints) {\n  const value = role.toLowerCase();\n  if (value.includes(\"software\") || value.includes(\"developer\") || value.includes(\"automation\")) {\n    return { points: maxPoints, maxPoints, reason: \"role_high_fit\" };\n  }\n  if (value.includes(\"data\") || value.includes(\"operations\") || value.includes(\"analyst\")) {\n    return { points: Math.round(maxPoints * 0.7), maxPoints, reason: \"role_medium_fit\" };\n  }\n  return { points: Math.round(maxPoints * 0.35), maxPoints, reason: \"role_low_fit\" };\n}\n\nfunction scoreLocation(location, maxPoints) {\n  const value = location.toLowerCase();\n  if (value.includes(\"remote\")) {\n    return { points: maxPoints, maxPoints, reason: \"location_remote\" };\n  }\n  if (value.includes(\"toronto\") || value.includes(\"hybrid\")) {\n    return { points: Math.round(maxPoints * 0.7), maxPoints, reason: \"location_workable\" };\n  }\n  return { points: Math.round(maxPoints * 0.4), maxPoints, reason: \"location_needs_review\" };\n}\n\nfunction scoreCompleteness(normalized, maxPoints) {\n  const optionalFields = [\"email\", \"deadline\", \"location\", \"skills\", \"notes\"];\n  const present = optionalFields.filter((field) => {\n    const value = normalized[field];\n    return Array.isArray(value) ? value.length > 0 : Boolean(value);\n  }).length;\n  return {\n    points: present >= 4 ? maxPoints : present >= 2 ? Math.round(maxPoints * 0.6) : Math.round(maxPoints * 0.2),\n    maxPoints,\n    present,\n    reason: `payload_complete_${present}`\n  };\n}\n\nfunction scoreSource(source, maxPoints) {\n  const value = source.toLowerCase();\n  if (value.includes(\"referral\") || value.includes(\"career\")) {\n    return { points: maxPoints, maxPoints, reason: \"source_high_signal\" };\n  }\n  if (value.includes(\"linkedin\") || value.includes(\"job\")) {\n    return { points: Math.round(maxPoints * 0.6), maxPoints, reason: \"source_medium_signal\" };\n  }\n  return { points: Math.round(maxPoints * 0.2), maxPoints, reason: \"source_manual_or_unknown\" };\n}\n\nfunction scoreDuplicate(normalized, knownApplicationIds) {\n  const duplicate = knownApplicationIds.has(normalized.applicationId);\n  return {\n    points: duplicate ? -35 : 0,\n    maxPoints: 0,\n    duplicate,\n    reason: duplicate ? \"duplicate_detected\" : null\n  };\n}\n\nfunction draftFollowUp(normalized, priority, matches) {\n  const greeting = normalized.applicantName ? `Hi ${normalized.applicantName.split(\" \")[0]},` : \"Hi there,\";\n  const matchText = matches.length\n    ? `Your background in ${humanList(matches)} lines up well with this ${normalized.role} opportunity.`\n    : `Thanks for sharing your interest in the ${normalized.role} opportunity.`;\n  const ask =\n    priority === \"duplicate\"\n      ? \"I found this application already in the intake log, so I marked it for duplicate review instead of creating a second follow-up.\"\n      : priority === \"hot\"\n      ? \"Could you do a quick 15-minute review today or tomorrow so we can move before the deadline?\"\n      : \"I added this to the review queue and will follow up with next steps after the next batch review.\";\n\n  return `${greeting}\\n\\n${matchText}\\n\\n${ask}\\n\\nBest,\\nAutoApplyOps`;\n}\n\nfunction buildResult({\n  normalized,\n  validation,\n  score,\n  priority,\n  route,\n  reasonCodes,\n  followUpDraft,\n  now,\n  skillMatches = [],\n  deadlineDays = null,\n  targetSkills = DEFAULT_TARGET_SKILLS,\n  weights = DEFAULT_WEIGHTS,\n  signals = {}\n}) {\n  const decisionMatrix = Object.entries(signals)\n    .filter(([, signal]) => signal && Number.isFinite(signal.points))\n    .map(([name, signal]) => ({\n      name,\n      points: signal.points,\n      maxPoints: signal.maxPoints,\n      reason: signal.reason || \"not_applicable\"\n    }));\n\n  return {\n    applicationId: normalized.applicationId || \"unassigned\",\n    validationStatus: validation.valid ? \"valid\" : \"invalid\",\n    validationErrors: validation.errors,\n    score,\n    priority,\n    route,\n    reasonCodes,\n    skillMatches,\n    deadlineDays,\n    decisionMatrix,\n    automationHints: buildAutomationHints({ priority, validation, score, deadlineDays }),\n    scoringProfile: {\n      targetSkills,\n      weights\n    },\n    sanitizedPayload: sanitizeForLog(normalized),\n    followUpDraft,\n    auditTrail: [\n      { at: now.toISOString(), event: \"webhook_received\" },\n      { at: now.toISOString(), event: validation.valid ? \"payload_validated\" : \"payload_rejected\" },\n      { at: now.toISOString(), event: `candidate_scored_${score}` },\n      { at: now.toISOString(), event: `route_${slug(route)}` }\n    ]\n  };\n}\n\nfunction buildAutomationHints({ priority, validation, score, deadlineDays }) {\n  if (!validation.valid) {\n    return {\n      nextStep: \"repair_payload\",\n      sla: \"manual review required\",\n      notify: \"workflow-owner\",\n      retryable: true\n    };\n  }\n\n  if (priority === \"hot\") {\n    return {\n      nextStep: \"send_follow_up_for_human_approval\",\n      sla: deadlineDays !== null && deadlineDays <= 2 ? \"same day\" : \"24 hours\",\n      notify: \"priority-channel\",\n      retryable: false\n    };\n  }\n\n  if (priority === \"duplicate\") {\n    return {\n      nextStep: \"merge_or_discard_duplicate\",\n      sla: \"next review block\",\n      notify: \"workflow-owner\",\n      retryable: false\n    };\n  }\n\n  return {\n    nextStep: score >= 55 ? \"batch_review\" : \"weekly_digest\",\n    sla: score >= 55 ? \"48 hours\" : \"weekly\",\n    notify: \"digest\",\n    retryable: false\n  };\n}\n\nfunction normalizeWeights(weights = {}) {\n  const merged = { ...DEFAULT_WEIGHTS, ...weights };\n  const normalized = {};\n\n  for (const [key, fallback] of Object.entries(DEFAULT_WEIGHTS)) {\n    const value = Number(merged[key]);\n    normalized[key] = Number.isFinite(value) && value >= 0 ? value : fallback;\n  }\n\n  return normalized;\n}\n\nfunction normalizeSkillList(skills) {\n  return [...new Set(skills.map((skill) => clean(skill).toLowerCase()).filter(Boolean))];\n}\n\nfunction clean(value) {\n  return typeof value === \"string\" ? value.trim() : value == null ? \"\" : String(value).trim();\n}\n\nfunction initials(name) {\n  return name\n    .split(/\\s+/)\n    .filter(Boolean)\n    .slice(0, 2)\n    .map((part) => part[0]?.toUpperCase())\n    .join(\"\");\n}\n\nfunction humanList(items) {\n  if (items.length <= 1) return items.join(\"\");\n  return `${items.slice(0, -1).join(\", \")} and ${items.at(-1)}`;\n}\n\nfunction slug(value) {\n  return value.toLowerCase().replace(/[^a-z0-9]+/g, \"_\").replace(/^_|_$/g, \"\");\n}\n\nfunction clamp(value, min, max) {\n  return Math.min(max, Math.max(min, value));\n}\n\n\nconst config = $json.config && typeof $json.config === \"object\" ? $json.config : {};\nconst runtimeOptions = {\n  targetSkills: $json.targetSkills || config.targetSkills || DEFAULT_TARGET_SKILLS,\n  weights: $json.weights || config.weights || DEFAULT_WEIGHTS,\n  knownApplicationIds: $json.knownApplicationIds || config.knownApplicationIds || [],\n  requireSharedSecret: Boolean($json.requireSharedSecret || config.requireSharedSecret),\n  expectedSharedSecret: $json.expectedSharedSecret || config.expectedSharedSecret || $env.AUTOAPPLYOPS_WEBHOOK_SECRET || \"\"\n};\n\nreturn [{ json: evaluateApplication($json, runtimeOptions) }];"
      },
      "id": "412dd6f5-9c40-4b52-8ebf-7e5a4e032ef7",
      "name": "Validate + Score Application",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -620,
        80
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.priority }}",
                    "rightValue": "hot",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Hot Lead"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.priority }}",
                    "rightValue": "review",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Review Queue"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.priority }}",
                    "rightValue": "invalid",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Invalid"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.priority }}",
                    "rightValue": "duplicate",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Duplicate"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Low Priority"
        }
      },
      "id": "d3bec2cd-9c6f-4e58-a0c5-619e04cb6bf9",
      "name": "Route Priority",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -330,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "return items.map((item) => ({ json: { ...item.json, notificationChannel: 'fast-response', ownerAction: 'Review today and send follow-up draft' } }));"
      },
      "id": "69e12fab-e110-4c1a-91dc-d2e0c165d642",
      "name": "Hot Lead Action",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -20,
        -120
      ]
    },
    {
      "parameters": {
        "jsCode": "return items.map((item) => ({ json: { ...item.json, notificationChannel: 'batch-review', ownerAction: 'Review during the next application batch' } }));"
      },
      "id": "6829d2d5-cd7a-4835-bd7e-927ef195e0cc",
      "name": "Review Queue Action",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -20,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "return items.map((item) => ({ json: { ...item.json, notificationChannel: 'manual-repair', ownerAction: 'Fix required fields and replay payload' } }));"
      },
      "id": "0ebd0d5e-1d9a-4b12-858d-23ac7121b388",
      "name": "Invalid Payload Action",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -20,
        280
      ]
    },
    {
      "parameters": {
        "jsCode": "return items.map((item) => ({ json: { ...item.json, notificationChannel: 'duplicate-review', ownerAction: 'Merge duplicate record or discard replayed webhook event' } }));"
      },
      "id": "6a2797c3-d1a9-481e-b415-b6a1ed2646de",
      "name": "Duplicate Review Action",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -20,
        470
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": "={{ $json.validationStatus === 'invalid' ? 422 : 200 }}"
        }
      },
      "id": "5dfdb7cc-3501-4be6-ad09-22fccf14cb6c",
      "name": "Respond with Triage Report",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        290,
        80
      ]
    }
  ],
  "connections": {
    "Webhook Intake": {
      "main": [
        [
          {
            "node": "Validate + Score Application",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate + Score Application": {
      "main": [
        [
          {
            "node": "Route Priority",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Priority": {
      "main": [
        [
          {
            "node": "Hot Lead Action",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Review Queue Action",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Invalid Payload Action",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Duplicate Review Action",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Review Queue Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hot Lead Action": {
      "main": [
        [
          {
            "node": "Respond with Triage Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Review Queue Action": {
      "main": [
        [
          {
            "node": "Respond with Triage Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Invalid Payload Action": {
      "main": [
        [
          {
            "node": "Respond with Triage Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Duplicate Review Action": {
      "main": [
        [
          {
            "node": "Respond with Triage Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "versionId": "autoapplyops-v1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "portfolio-demo"
  },
  "tags": [
    {
      "name": "portfolio"
    },
    {
      "name": "internship"
    }
  ]
}
